__pycache__/
*.py[cod]
*.so
venv/
env/
models/checkpoints/*
!models/checkpoints/.gitkeep
data/elevation_raw/*
!data/elevation_raw/.gitkeep
data/datasets/*
!data/datasets/.gitkeep
*.pt
*.pth
.vscode/
.idea/
.DS_Store
*.log
runs/
wandb/


